<!--Homepage -->
<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%=homeStartingContent%> </p>

<% posts.forEach(function(post){ %>
  <h1> <%=post.title%> </h1>
  <% let truncatedBody = post.body.substring(0, 99) + "..."; %>
  <% let urlPathToPost = "posts/" + post.title; %>
  <p> <%=truncatedBody%> <a href="<%=urlPathToPost%>">Read More</a></p>
<% }); %>

<%- include("partials/footer") -%>
